@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
body {
	/* color: rgba(255, 0, 0, 0.1); */
	/* font-family: 'Montez', cursive; */
	font-size: 14px;
	line-height: 24px; 
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Montez', cursive; */
	font-weight: 400;
}

h1 {
	font-size: 60px;
	margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    color: #666666;
    font-family: inherit;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
    margin-bottom: 15px;

}

a {
	/* color: red; */
	/* text-decoration: none; */
}
 .advance-heading-left::before {
	content: "";
	background-color: #c3a553;
	display: inline;
	height: 2px;
	width: 70px;
	position: absolute;
	top: 47%;
	left: 15%;
} 
.advance-heading-right::after {
	content: "";
	background-color: #c3a553;
	display: inline;
	height: 2px;
	width: 70px;
	position: absolute;
	top: 47%;
	left: 51.5%;
}
.advance-heading-center::after {
	content: "";
	background-color: #c3a553;
	display: inline;
	height: 2px;
	width: 70px;
	position: absolute;
	top: 150%;
	left: 48%;
}
.advance-heading-center-team::after {
	content: "";
	background-color: #c3a553;
	display: inline;
	height: 2px;
	width: 50px;
	position: absolute;
	top: 170%;
	left: 47.7%;
}
.advance-heading-contact::after {
	content: "";
	background-color: #c3a553;
	display: inline;
	height: 1.5px;
	width: 60px;
	position: absolute;
	top: 42%;
	left: 41%;
}
.advance-heading-menu::after {
	content: "";
	background-color: #c3a553;
	display: inline;
	height: 1.5px;
	width: 60px;
	position: absolute;
	top: 10%;
	left: 48.3%;
}
.text-bold {
	font-family:'Montez', cursive ;
	font-weight: 700;
}

.text-uppercase {
	text-transform: uppercase;
}

a:hover,
a:focus {
	/* color: red; */
}

a:visited {
	/* color: green; */
}

a:visited:hover {
	/* color: orange; */
}

.clear:after,
.container:after,
.row:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
}

.container {
	/* border: 1px solid yellow; */
	margin: 0 auto;
	max-width: 1140px;
}

/* ID Selector */
/* #square {
	color: green;
	font-size: 36px;
} */

/* Class Selector */
/* .square {
	color: orange;
	font-size: 14px;
} */

/* Name Selector */
/* div {
	color: blue;
	font-size: 26px;
} */

.header {
    background-image: url("../img/intro-bg.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	/* height: 675px; */
}
.overlay{
    background: rgba(0,0,0,0.65);
    color: #666;
    display: block;
	margin: 0;
	left: 0;
	right: 0;
	bottom: 40%;
	transition: 0.5s ease;
}
.menu-navbar{
   
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar {
	font-family: 'Montez', cursive;
	font-size: 12px;
	padding: 35px 0;
}

.navbar-logo{
    font-size: 36px;
    text-decoration: none;
    color: #c3a553;
    line-height: 12px;
    font-family: 'Montez', cursive;
}

.navbar * {
	vertical-align: middle;
}


.navbar .menu {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

.navbar .menu li {
	float: left;
}

.navbar .menu li:not(:first-child) {
	margin-left: 25px;
}

.navbar .menu a {
    color: #c3a553;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
    transition: all ease-in-out 0.2s;
    margin: 10px 20px 0 20px;
    padding: 6px 2px;
 
    
    
}
.navbar .menu a:hover {
    text-decoration: underline;
    border-bottom: 2px solid #363636;
      
}

.header .text-block {
	font-size: 28px;
	text-align: center;
    color: #fff;
    margin: 130px;
    padding: 0px 20px;
    font-family: 'Montez';
    height: 300px !important;
}
.header .text-block h1{
    font-size: 100px;
}
.header .text-block p{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;

}
.header .text-block .small{
  color: rgba(255,255,255,0.85);  
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 10px;
 

}

.header .btn {
	margin-top: 130px;
}

.btn {
    color: #fff;
    background-color: #a18530;
	cursor: pointer;
	display: inline-block;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
	height: 50px;
	margin: 0;
	min-width: 120px;
	padding: 12px 15px;
	text-decoration: none;
	text-transform: uppercase;
    transition: all ease-in-out 0.2s;
    margin-bottom: 20px;
}
.about{
    margin-top: 145px;
   
}
.about .container{
    
}
.box1{
    width: 100%;
}
.box1 .box1-image{
    width: 40%;
    margin: 50px;
    padding: 0;
    float: left;
    padding-left: 3%;
    padding-top: 2%;
    box-shadow: -20px -20px 40px -10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    
}
.box1 .box1-text{
    position: relative;
    width: 60%;
    height: 500px;
    display: flex;
    color: #666666;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    float: left;
    font-family: 'Roboto', sans-serif;
    padding: 100px;


}
.box2{
    width: 100%;
}
.box2 .box2-text{
    position: relative;
    width: 60%;
    height: 500px;
    color: #666666;
    display: flex;
    float: left;
    padding: 100px;
    text-align: left;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


}

.box2 .box2-image{
    width: 40%;
    float: right;
    margin-right: 50px;
    box-shadow: 20px 20px 40px -10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}
.box1-image img {
    width: 350px;
    height: 450px;
    
}
.box2-image img {
    width: 350px;
    height: 450px;
    padding-right: 8%;
    padding-bottom: 5%;
}
.gallery{
    background:#222 ;

}
.gallery .container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.gallery .text-block{
    padding: 10px;

    text-align: center;
    font-family: sans-serif;
    
}
.gallery h2{
    color: #fff;
    font-size: 30px;
    position: relative;
}
.gallery p{
    color: #888;
    font-size: 17px;
}
.category{

    padding: 0;
    text-align: center;
    
}
.category .cat-menu{
    text-decoration: none;
    color: #666;
    font-family: 'Roboto', sans-serif;
    
}
.cat-menu li{
    display: inline-block;
    margin: 20px;
}
.category .btn-gallery{
    text-decoration: none;
    color: #888;
    font-size: 16px;
    text-transform: uppercase;
}
.category .btn-gallery:hover{
    color: #c3a553;
    text-decoration: underline;
    text-decoration-color:#888;
}

.gallery-gird{
    margin-top: 30px;

}
.gallery-gird .row {
	margin: 0 -15px;
}
.gallery-gird .col {
	float: left;
	padding: 0 15px;
	width: 25%;
}

.gallery-gird .thumbnail {
	cursor: pointer;
	line-height: 0;
	margin: 15px 0;
	position: relative;
}
.gallery-gird .thumbnail img {
	border-radius: 0;
    width: 100%;
    height: auto;
    
}
.gallery-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	height: 100%;
	padding: 30px 15px;
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: 0.5s ease;
	width: 100%;
}

.Gallery-overlay h4{
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.Gallery-overlay span {
    display: block;
	margin: 0;
    position: absolute;
	left: 0;
	right: 0;
	bottom: 40%;
	transition: 0.5s ease;
}

/* Sibling Selector */
.gallery-overlay h4:hover + span {
	color: greenyellow;
}
.gallery-gird .thumbnail:hover .gallery-overlay {
	opacity: 1;
}
.gallery-gird .thumbnail:hover h4 {
	bottom: 50%;
	margin-bottom: 10px;
}
.team .container{
   margin-top: 100px;
    
}
.team .text-block{
text-align: center;
    
}
.team .text-block h2{
    position: relative;
}
.team-gallery{
    max-width: 100%;
    padding: 25px;
    margin: 30px;
    text-align: center;
    

}
.team-gallery .team-image{
    list-style: none;
    display: inline-block;
    width: 33%;
    padding-top: 20px;
    padding: 20px auto;

}
.team-image .caption{
   text-align: center;
}
.team-image .caption h3{
    font-size: 20px;
    margin: 10px 0 5px;
    color: #333333 ;

}
.team-image .caption p{
    color: #33333b;
    margin: 10px;
    font-size: 13px;
    padding: 0 28px;
    justify-content: center;
    font-family: sans-serif;

}

.team-image img{
    width: 280px;
    height: 426px;
}
.background{
    background: #444 url(../img/reservation-bg.jpg) bottom center no-repeat fixed;
    background-size: cover;
    margin: 0;
    height: 200px;
    border-bottom: 1px solid #555;
}
.background .overlay-background{
    padding: 63px 0;
    background: rgba(0, 0, 0, 0.65);
    color: #666;
    text-align: center;
}
.overlay-background h2{
    color: #fff;
}
.overlay-background h2 span{
    color: #c3a553;
}

.Call-Section .container-fluid .row{
    
   
    margin-right: -15px;
    margin-left: -15px;
}
.Call-Section .container-fluid .row>.col {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.Call-Section .container-fluid .row>.col img{
    width: 50%;
    float: left;
}
.Call-Section .container-fluid .row>.col map{
    width: 50%;
    float: right;
}

.footer{
    padding: 50px 0 0 0;
}
.footer .footer-info{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #666;

}
.footer-info .information{
    position: relative;
    /* min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; */
    display: inline-block;
    width: 30%;
}
.information h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.information p{
   margin: 0 0 10px;
   font-size: 13px;
   line-height: 14px;
   font-family: sans-serif;
}
.social-media{
    background-color:#262626 ;
    margin-top: 100px;
}

.social-icon{
    margin: 0;
    margin: 0;
}
.social-icon ul{
    padding: 40px;
    text-align: center;
    
}
.social-icon ul li{
    display: inline-block;
    margin: 20px;
    text-align: center;
}
.social-icon i{
    color: #c3a553;
    padding: 4px;
    font-size: 26px;
    list-style: none;
    text-align: center;
}
.social-icon i:hover{
    color: #fff;
}
.social-icon p{
    text-align: center;
    margin-bottom: 0px;
    color: #444;
    
}
.Menu {
    padding: 10px 0;
    position: relative;
 
}
.backgroung-Menu {
    background:  url(../img/menu-bg.jpg) bottom center no-repeat fixed ;
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; */
    padding: 0;
    height: 280px;
    border-bottom: 1px solid #555;
    
}
.overlay-background-Menu {
    padding: 50px;
    background: rgba(0, 0, 0, 0.65);
    color: #666;
    height: 280px;
    text-align: center;
}
.Menu h2{
    color: #fff;
}
.Menu p{
    color: rgba(255,255,255,0.75);
    margin-top: 10px;
}
.menu-card{
    padding: 50px 200px 0px 200px;
    margin: 100px;
}
.menu-card ul{
    text-align: center;
    list-style: none;
    margin-top: 50px;
}
.menu-card ul li{
    display: inline;
    margin: 0 20px;
    padding: 50px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  
}
.menu-card a{
    text-decoration: none;
    color: #666;
}
.menu-card a:hover{
    color: #151515;
    border-bottom: 2px solid #ccad52;
    position: relative;  
}
.tab-content{
    margin: 0;
    padding: 0;

}
.tab-content .row {
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}
.tab-content .row>.col-left{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 15px;
    float: left;
}
   
.tab-content .row>.col-right{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 30px;
    float: right;
} 
.menu-section{
    margin: 0 0 60px 0px;
}
.menu-item{
    margin: 45px 0;
    font-size: 18px;

}
.menu-item-name{
    font-weight: 400;
    font-size: 17px;
    color: #555;
    padding-bottom: 15px;
    border-bottom: 2px dotted rgba(0,0,0,0.15);

}
.menu-item-price{
    float: right;
    font-weight: 400;
    color: #555;
    margin-top: -40px;
}
.menu-item-description{
    padding-top: 10px;
    font-style: italic;
    font-size: 15px;
    color: #666;
}


 





